{% extends "core/base.html" %}
{% load i18n %}

{% block content %}
<div class="container vh-100">
  <div class="row h-100">
    <div class="col-md-6 my-auto mx-auto">
      <div class="card">
        <div class="card-body {{ theme.bg }} text-{{ theme.text }}">
          <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>
          <p class="mb-0">{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}