{% extends "core/base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
  <p>{{ user }}</p>

  <div class="container text-{{ theme.text }} padding-header ">
  	{% for i in tshirts %}
		<div class="card">
		  <div class="card-header text-{{ theme.text }} {{ theme.bg }}">  
		    <a href="{% url 'design_view' i.id %}" class="nav-link text-{{ theme.text }} ">{{ i.name }}</a>
		  </div>
		  <div class="card-body bg-body-dark text-{{ theme.text }}">
		  	
		    <img class="img-thumbnail rounded float-left w-50 mx-2" src="{{ i.image.url }}" alt="Card image cap">
            <h4 >&ensp;{% for t in i.topic.all %}
		     	{{ t }}; &emsp;
		     {% endfor %}</h4>
		     <h5 >&ensp;{% for t in i.tag.all %}
		     	#{{ t }}&emsp;
		     {% endfor %}</h5>
		     <br>
		     <br>
		  </div>
		</div>
		<br>
		{% endfor %}
	</div>
    
  	

{% endblock %}